body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
div h3 {
  margin-left: 31px;
  font-size: 25px;
  
}
div h2 {
  margin-left: 31px;
  font-size: 30px;
  color: #ff0066;
}
p {
  margin-left: 31px;
  font-weight: bold;
  color: gray;
}
.half-width-box {
  width: 30%;
  float: left;
  margin: 5%;
  padding: 5%;
}
#Head-img {
  width: 110%;
  margin-top: -20px;
  margin-left: -30px;
}

#link-btn {
  float: left;
  margin-top: 6%;
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to left, #ff41b0, #ff0682);
  padding: 8px 12px;
  border-radius: 6px;
  font-family: sans-serif;
}
#link-btn:hover {
  background-image: linear-gradient(to left, #ff0682, #ff41b0);
  border: 2px solid lightblue;
}
section {
  height: 550px;
}
.Header {
  background-image: url(Images-source/footer-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

#biography-img {
  width: 110%;
  margin-left: 31px;
  margin-top: -30%;
}
#bio-head {
  margin-left: -25px;
  margin-top: -10%;
}
#bio-para {
  margin-left: -25px;
}
.biography-part {
  background-image: url(Images-source/biography-bg.png);
  background-repeat: no-repeat;
}

#latest-work-head{
  margin-top:200px;
  text-align: center;
}
.latest-work-img1 img{
  width: 18%;
  margin-top: 5.5%;
  margin-left: 18%;
  float: left;
  box-shadow: 4px 4px 20px gray;
}
.latest-work-img2 img{
  float: left;
  width: 18%;
  margin-top: 5.5%;
  margin-left: 7.2%;
  box-shadow: 4px 4px 20px gray;
}
.latest-work-img3 img{
  float: left;
  width: 18%;
  margin-top: -13.5%;
  margin-left: 68%;
  box-shadow: 4px 4px 20px gray;
}
.latest-work-part{
  background-image: url(Images-source/latest-work-bg.png);
  background-repeat: no-repeat;
}

